<p>main works!</p>
<div class="container" *ngIf="authService.isNotAuthorized">
    <h3>Registration</h3>
    <form [formGroup]="RegisterForm" class="form">

        <mat-form-field>
            <mat-label>FirstName</mat-label>
            <input type="firstName" matInput formControlName="firstName">
            <mat-error *ngIf="firstName.hasError('required')">FirstName is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>LastName</mat-label>
            <input type="lastName" matInput formControlName="lastName">
            <mat-error *ngIf="lastName.hasError('required')">LastName is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form__item">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>PasswordConfirm</mat-label>
            <input type="passwordConfirm" matInput formControlName="passwordConfirm">
            <mat-error *ngIf="passwordConfirm.hasError('required')">PasswordConfirm is required</mat-error>
        </mat-form-field>

    </form>
    <div class="buttons">
        <button mat-flat-button class="buttons__button" (click)="register()"
            [disabled]="RegisterForm.invalid">Sign In</button>
    </div>
</div>

<div class="container" *ngIf="authService.isNotAuthorized">
    <h3>Log In</h3>
    <form [formGroup]="loginForm" class="form">

        <mat-form-field class="form__item">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
        </mat-form-field>

    </form>
    <div class="buttons">
        <button mat-flat-button class="buttons__button" (click)="login()"
            [disabled]="loginForm.invalid">Login</button>
    </div>
</div>

<div class="container" *ngIf="authService.isAuthorized">
    <h3>Log Out</h3>
    <div class="buttons">
        <button mat-flat-button class="buttons__button" (click)="logout()">Logout</button>
    </div>
</div>